<!doctype html>
<html lang="en">
@include("layout.head")
<body>
	
	@include("layout.header")
	<!-- #header -->
	@yield("slide")
	
	@yield("container")
	
	<!-- .container -->

	@include("layout.footer")
	<!-- #footer -->
	@include("layout.copyright")
	<!-- .copyright -->
	
	@include("layout.script")
	<!-- include js files -->
	
</body>
</html>